/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

// :root {
//   font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
//   font-size: 16px;
//   line-height: 24px;
//   font-weight: 400;

//   color-scheme: light dark;
//   color: rgba(255, 255, 255, 0.87);
//   background-color: #242424;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-text-size-adjust: 100%;
// }

// Import Pico

$primary-500: #e91e63;
$primary-600: #d81b60;
$primary-700: #c2185b;
$text-decoration: none;
$appbar-height: 52px;

@import "./scss/pico";

$include-column-box-sizing: true;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@import "bootstrap/scss/mixins/banner";
@include bsBanner(Grid);
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins/lists";
@import "bootstrap/scss/mixins/breakpoints";
@import "bootstrap/scss/mixins/container";
@import "bootstrap/scss/mixins/grid";
@import "bootstrap/scss/mixins/utilities";
@import "bootstrap/scss/vendor/rfs";
@import "bootstrap/scss/grid";

:root {
  --app-bar-height: $appbar-height;
  --text-decoration: none;
}

/* Grid */
body {
  margin: 0;
}

main.center,
main.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - $appbar-height);
}



@media (min-width: 576px) {
  body > main.form,
  #app > main.form {
    padding: 1.25rem 0;
  }

  .form article div {
    padding: 1.25rem;
  }
}

@media (min-width: 768px) {
  body > main.form,
  #app > main.form {
    padding: 1.5rem 0;
  }

  .form article div {
    padding: 1.5rem;
  }
}

@media (min-width: 992px) {
  body > main.form,
  #app > main.form {
    padding: 1.75rem 0;
  }

  .form article div {
    padding: 1.75rem;
  }
}

@media (min-width: 1200px) {
  body > main.form,
  #app > main.form {
    padding: 2rem 0;
  }

  .form article div {
    padding: 2rem;
  }
}

/* Nav */
summary[role="link"].secondary:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--secondary-hover);
}

#app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
/* Footer */
#app > footer {
  padding: 1rem 0;
}

#app > nav.app-bar {
  background-color: var(--background-color);
  color: var(--color);
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  box-shadow: var(--card-box-shadow);
}

#app > main {
  flex: 1;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;  
  margin-top: $appbar-height;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--background-color);
  color: var(--color);
}
.page > section {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}



.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.list li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--muted-border-color);
}
ul.list a {
  display: block;
  width: 100%;
  margin: 0;
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  text-decoration: none;
 /*  box-shadow: var(--card-box-shadow); */
}

.media {
  --typography-spacing-vertical: 0.25rem;
}
.media {
  display: flex;
  align-items: start;
  justify-content: start;
}
.media > div {
  flex: 1;
}
.media > aside {
  margin: 0;
}
.media img {
  max-width: 100%;
  max-height: 100px;
}
.media {
  h1, h4, p {
    --typography-spacing-vertical: 0.25rem;
  }
}
.truncate {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}